@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Libre Franklin', sans-serif;
}

img {
  max-width: 100%;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/* ***** start with Mobile first */

.wrapper {
  max-width: 35rem;
  margin-inline: auto;
  padding-inline: 1.2rem;
  overflow: hidden;
}


.header {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 2.2rem 0;
  text-align: center;
}

.logo img {
  max-width: 15rem;
}


.header h1 {
  color: hsl(0, 0%, 59%);
  letter-spacing: 2px;
  font-size: 1.9rem;
  line-height: 1.4;
  font-weight: 600;
}

.header strong {
  color: hsl(209, 33%, 12%);
  font-weight: 700;
}

.header p {
  letter-spacing: 1px;
  color: hsl(209, 33%, 12%);
  font-weight: 300;
  opacity: 0.65;
}

.form {
  margin-inline: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 1.2rem 0;
  margin-bottom: 3rem;
}

.form-label {
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
}

.form input[type="email"] {
  padding: .9em 2.4em;
  border: 1px solid hsl(223, 100%, 88%);
  outline: 1px solid hsl(223, 87%, 63%);
  border-radius: 1rem;
  color: hsl(0, 0%, 59%);
  width: 80%;
  font: inherit;
}
.form input[type="email"]::placeholder {
  color: hsla(223, 87%, 63%, 0.75);
  font-size: 1rem;
}



.form button {
  background-color: hsl(223, 87%, 63%);
  padding: 0.9em 1.6em;
  font-size: 0.9rem;
  border: none;
  border-radius: 1rem;
  color: hsl(223, 100%, 94%);
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 2px 10px hsla(208, 31%, 12%, 0.318);
  transition: transform 450ms ease-in-out;
  transform: scale(1.1001);
  width: 70%;
}

.form button:hover,
.form button:focus {
  transform: scale(1.0001);
}


#error-msg {
  color: hsl(354, 100%, 66%);
  opacity: 0;
  display: none;
  transition: opacity 200ms ease-in-out;
  text-align: start;
  width: 80%;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 300;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.2rem 0;
  margin-top: 2rem;
}
.footer p {
  color: hsl(0, 0%, 59%);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.social img {
  width: 2rem;
}


@media (min-width:45rem) {
  .wrapper {
    max-width: 47rem;
  }
  .form {
    flex-direction: row;
    gap: 2em ;
  }
  .form input[type="email"] {
    padding: .8em 3.4em;
    width: 100%;
    
  } 
}



/* Here I steal experiment with some idea's  */
.attribution {
  display: none;
  /* position: sticky; */
  left: 1rem;
  bottom: 1rem;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  background-color: hsla(223, 87%, 63%, 0.171);
  cursor: pointer;
}
.attribution p {
visibility: hidden;
}
